<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sito in Costruzione</title>
  <!-- Collegamento a Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/manutenzione.css" rel="stylesheet" />
</head>
<body>

<div class="container">
  <div class="jumbotron">
        <span class="danger-icon">&#9888;</span> <!-- Icona di avviso (esempio: triangolo di danger) -->
    <h1 class="display-4">Sito in Costruzione</h1>
    <p class="lead">Ci scusiamo per l'inconveniente, stiamo lavorando per migliorare il sito. Torneremo presto!</p>
    <a href="/home" class="btn btn-primary back-btn">Torna alla pagina principale</a>
  </div>
</div>

<!-- Collegamento a Bootstrap JS e jQuery (opzionale, se necessario per le funzionalità di Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
